/* Paggination  */
.pagination div {
  padding: 1rem;
  margin: 2rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  div.active {
    font-weight: bold;
  }
}
